<!doctype html>
<html>
<head>
  <script src='/public/js/enchant.min.js'></script>
  <script src='/public/js/main.js'></script>
  <title>Chessers</title>
</head>
<body style="font-family: 'Comic Sans MS'">
  <div id="enchant-stage" style="height:400px; width:400px; float: left"></div>
  <span style="float:left;">
    <ul style="">
      <strong>White Pieces</strong>:
      <li>Grey = pawn</li>
      <li>Green = rook</li>
      <li>Blue = knight</li>
      <li>Orange = bishop</li>
      <li>Baseball = Queen</li>
      <li>Soccerball = King</li>
    </ul>
  </span>
  <span style="float:left;">
    <ul>
      <strong>Black Pieces</strong>:
      <li>Grey = pawn</li>
      <li>Purple = rook</li>
      <li>Yellow = knight</li>
      <li>Blue = bishop</li>
      <li>Baseball = Queen</li>
      <li>Soccerball = King</li>
    </ul>
  </span>
</body>
</html>