<!doctype html>
<html>
<head>
  <script src='/public/js/enchant.js'></script>
  <script src='/public/js/main.js'></script>
  <title>Chessers</title>
</head>
<body>
  <div id="enchant-stage" style="height:400px; width:400px; float: left"></div>
  <div style="width: 500px; float:left; margin: auto">
  <ul style="float: left; margin-left: 20px;">
    <li>Grey = pawn</li>
    <li>Green = rook</li>
    <li>Blue = knight</li>
    <li>Orange = bishop</li>
    <li>Baseball = Queen</li>
    <li>Soccerball = King</li>
  </ul>
</div>
</body>
</html>